#parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    border-radius: 20px;
   margin-top: 30px;
    padding: 5px 20px 5px 20px ;
    text-align:center
    
    }
    #parent>div{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 21px;
        align-items: center;
    }
    img{
    border-radius: 10px;
    width: 80%;
    ;
    
    }
    #parent>div>div{
        display: flex;
        justify-content: center;
        gap:30px;
    }
    /* div>p:first-child{
        text-decoration: line-through;
    } */
    /* #mrp{
      text-decoration: line-through;
    } */
    button{
      width:80%;
      border: none;
      background-color: rgba(47, 255, 220, 0.801);
     color: white;
     padding:10px 0;
     margin-bottom: 20px;
    }
    
      #btnn:hover {
        background-color: rgb(8, 102, 105);
        font-size: 17px;
      }  
      /* medium */
      @media only screen and (min-width: 321px) and (max-width: 720px) {
        #parent {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 500px;
        }
      } 
      
      /*small*/
      @media only screen and (min-width: 0px) and (max-width: 320px) {
         #parent {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: 500px;
        }
      }
      /*:default classes*/
      * {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      a:link {
        /*color: red;*/
        background-color: transparent;
        text-decoration: none;
      }
      .nav {
        width: 89.5%;
        background-color: rgb(50, 174, 177);
        display: flex;
        padding: 35px 80px;
      }
      .flex {
        display: flex;
      }
      .center {
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      #payment-offer-section > h3,
      #previes-order-section > h3,
      #trend-section > h3 {
        margin-left: 30px;
      }
      /* Default css end */
      
      /* 1st nav css start */
      
      .nav1 {
        /*border: 2px solid red;*/
        width: 20%;
      }
      .nav2 {
        /*border: 2px solid red;*/
        width: 50%;
        height: 50px;
        background-color: #fff;
        border-radius: 10px;
      }
      .nav3 {
        width: 30%;
        color: #fff;
        justify-content: space-around;
      }
      .nav3 > p > i {
        font-weight: bold;
        margin: 10px 10px;
        font-size: 20px;
      }
      .nav2 > select {
        width: 20%;
        height: 50px;
        border: 0px;
        border-radius: 10px;
      }
      .nav2 > input {
        width: 75%;
        height: 50px;
        border: 0px;
      }
      /* 2nd nav section start */
      .nav-section-2 {
        background-color: rgb(50, 174, 177);
        justify-content: space-around;
        padding: 0px 150px 15px;
        color: #fff;
        font-weight: bold;
      }
      .nav-section-2 div > img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
      }